fastapi
uvicorn[standard]
jinja2
pydantic
playwright
scikit-image
opencv-python
moviepy
requests
python-docx
docx2txt
striprtf
pydub
SpeechRecognition
beautifulsoup4
selenium
aiofiles
pydantic-settings
python-multipart
python-jose
pydantic[email]
mysql-connector-python
num2words
apscheduler
moviepy
weasyprint
dependency_injector
aiohttp
sqlalchemy
ultralytics
streamlit